.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.new-collections h1 {
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}

.new-collections hr {
    width: 150px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}

.collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1280px;
}

.item {
    width: 200px; /* Adjust width to your preference */
    height: 300px; /* Adjust height to provide more space for text */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    overflow: hidden; /* Ensure text stays within item container */
}

.item img {
    width: 100%; /* Make the image fill the entire width of the item */
    height: auto; /* Preserve aspect ratio of the image */
    object-fit: cover; /* Cover the entire space of the item */
}

.item p {
    margin-top: 10px; /* Adjust spacing between image and text */
    font-size: 16px;
    color: #333;
    max-height: 100%; /* Limit height of text to prevent overflow */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
}
